{
    "extends": [
        "prettier"
    ],
    "parser": "@babel/eslint-parser",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ]
    },
    "parserOptions": {
        "requireConfigFile": false
    }
}
